name: Transmision Constante
on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Instalar FFmpeg
        run: sudo apt-get install -y ffmpeg

      - name: Descargar Videos
        run: |
          curl -L -o vid1.mp4 "https://www.dropbox.com/scl/fi/v5p2c4jpbczpeyo90gjn5/programa1.mp4?rlkey=dgjjbx2er3hfdpc9m117wp0c2&st=l5cstbfh&dl=1"
          curl -L -o vid2.mp4 "https://www.dropbox.com/scl/fi/48dngz7t9xtbn18h6v839/programa2.mp4?rlkey=lms05w9e81b5suv5idnsz2e90&st=f02aau3m&dl=1"

      - name: Retransmitir con Logo y Salto de Video
        run: |
          ffmpeg -re -i vid1.mp4 -re -i vid2.mp4 -i logo.png \
          -filter_complex \
          "[0:v]scale=640:360,setdar=16/9[v0]; \
           [1:v]scale=640:360,setdar=16/9[v1]; \
           [v0][0:a][v1][1:a]concat=n=2:v=1:a=1[v_full][a_full]; \
           [2:v]scale=180:-1[logo]; \
           [v_full][logo]overlay=120:40,drawtext=text='':fontcolor=white:fontsize=24:x=120:y=210:box=1:boxcolor=black@0.5:boxborderw=5[outv]" \
          -map "[outv]" -map "[a_full]" \
          -c:v libx264 -preset ultrafast -b:v 780k -maxrate 780k -bufsize 1560k \
          -pix_fmt yuv420p -g 30 -r 15 \
          -c:a aac -b:a 128k -ar 44100 -ac 2 \
          -f flv "rtmp://vs20.live.opencaster.com/opencaster/cristianhilos_314b91b0?psk=cristianhilos_314b91b0&tk=b77f89cbf4f83af5295e37a562a3379de814c3a945e7402811a589c00d91f442"
