name: Transmision Constante
on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Instalar FFmpeg
        run: sudo apt-get install -y ffmpeg

      - name: Crear Lista
        run: |
          echo "file 'https://www.dropbox.com/scl/fi/v5p2c4jpbczpeyo90gjn5/programa1.mp4?rlkey=dgjjbx2er3hfdpc9m117wp0c2&st=l5cstbfh&dl=1'" > lista.txt
          echo "file 'https://www.dropbox.com/scl/fi/48dngz7t9xtbn18h6v839/programa2.mp4?rlkey=lms05w9e81b5suv5idnsz2e90&st=f02aau3m&dl=1'" >> lista.txt

      - name: Retransmitir
        run: |
          ffmpeg -re -f concat -safe 0 -protocol_whitelist "file,http,https,tcp,tls,rtmp,rtmpt,rtmps" \
          -stream_loop -1 -i lista.txt \
          -c:v libx264 -preset veryfast -b:v 2000k -maxrate 2000k -bufsize 4000k \
          -pix_fmt yuv420p -g 30 -r 15 \
          -vf "scale=640:360,format=yuv420p" \
          -c:a aac -b:a 128k -ar 44100 -ac 2 \
          -f flv "rtmp://vs20.live.opencaster.com/opencaster/cristianhilos_314b91b0?psk=cristianhilos_314b91b0&tk=b77f89cbf4f83af5295e37a562a3379de814c3a945e7402811a589c00d91f442"
